.hbtn {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: 10px 20px;
  margin: 0 3px 6px 3px;
  text-align: center;
  border: solid 2px #76c38f;
  text-decoration: none;
  color: #76c38f;
  white-space: nowrap;
  z-index: 0; }

.hbtn i {
  padding-right: 8px; }

.hpill {
  border-radius: 50px; }

.hbtn.hb-fill-on:before {
  position: absolute;
  content: '';
  background: #76c38f;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

.hbtn.hb-fill-on:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1; }

.hbtn.hb-fill-bottom:before {
  position: absolute;
  content: '';
  background: #76c38f;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 1; }

.hbtn.hb-fill-bottom:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1; }

.hbtn.hb-fill-left:before {
  position: absolute;
  content: '';
  background: #76c38f;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  width: 0;
  height: 100%;
  opacity: 1; }

.hbtn.hb-fill-left:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1; }

.hbtn.hb-fill-top:before {
  position: absolute;
  content: '';
  background: #76c38f;
  transition-duration: .3s;
  z-index: -1;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 1; }

.hbtn.hb-fill-top:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1; }

.hbtn.hb-fill-right:before {
  position: absolute;
  content: '';
  background: #76c38f;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 0;
  height: 100%;
  opacity: 1; }

.hbtn.hb-fill-right:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1; }

.hbtn.hb-fill-middle:before {
  position: absolute;
  content: '';
  background: #76c38f;
  transition-duration: .3s;
  z-index: -1;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 1; }

.hbtn.hb-fill-middle:hover:before {
  width: 100%;
  height: 50%;
  opacity: 1; }

.hbtn.hb-fill-middle2:before {
  position: absolute;
  content: '';
  background: #76c38f;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  width: 0;
  height: 100%;
  opacity: 1; }

.hbtn.hb-fill-middle2:hover:before {
  width: 50%;
  height: 100%;
  opacity: 1; }

.hbtn.hb-fill-on-rev:before {
  position: absolute;
  content: '';
  background: #76c38f;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1; }

.hbtn.hb-fill-on-rev:hover:before {
  width: 100%;
  height: 100%;
  opacity: 0; }

.hbtn.hb-fill-bottom-rev:before {
  position: absolute;
  content: '';
  background: #76c38f;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1; }

.hbtn.hb-fill-bottom-rev:hover:before {
  width: 100%;
  height: 0;
  opacity: 1; }

.hbtn.hb-fill-left-rev:before {
  position: absolute;
  content: '';
  background: #76c38f;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  width: 100%;
  height: 100%;
  opacity: 1; }

.hbtn.hb-fill-left-rev:hover:before {
  width: 0;
  height: 100%;
  opacity: 1; }

.hbtn.hb-fill-top-rev:before {
  position: absolute;
  content: '';
  background: #76c38f;
  transition-duration: .3s;
  z-index: -1;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1; }

.hbtn.hb-fill-top-rev:hover:before {
  width: 100%;
  height: 0;
  opacity: 1; }

.hbtn.hb-fill-right-rev:before {
  position: absolute;
  content: '';
  background: #76c38f;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1; }

.hbtn.hb-fill-right-rev:hover:before {
  width: 0;
  height: 100%;
  opacity: 1; }

.hbtn.hb-fill-middle-rev:before {
  position: absolute;
  content: '';
  background: #76c38f;
  transition-duration: .3s;
  z-index: -1;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  opacity: 1; }

.hbtn.hb-fill-middle-rev:hover:before {
  width: 100%;
  height: 0%;
  opacity: 1; }

.hbtn.hb-fill-middle2-rev:before {
  position: absolute;
  content: '';
  background: #76c38f;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  width: 50%;
  height: 100%;
  opacity: 1; }

.hbtn.hb-fill-middle2-rev:hover:before {
  width: 0;
  height: 100%;
  opacity: 1; }

.hb-fill-top, .hb-fill-right, .hb-fill-bottom, .hb-fill-left, .hb-fill-on, .hb-fill-middle, .hb-fill-middle2 {
  background: transparent;
  color: #fff;
  transition: color 0.3s ease, background 0s ease; }

.hb-fill-top:hover, .hb-fill-right:hover, .hb-fill-bottom:hover, .hb-fill-left:hover, .hb-fill-on:hover, .hb-fill-middle:hover, .hb-fill-middle2:hover {
  color: #fff;
  background: #76c38f;
  transition: color 0.3s ease, background 0s 0.3s ease; }

.hb-fill-top-rev, .hb-fill-right-rev, .hb-fill-bottom-rev, .hb-fill-left-rev, .hb-fill-on-rev, .hb-fill-middle-rev, .hb-fill-middle2-rev {
  background: #76c38f;
  color: #fff;
  transition: color 0.3s ease, background 0s 0.3s ease; }

.hb-fill-top-rev:hover, .hb-fill-right-rev:hover, .hb-fill-bottom-rev:hover, .hb-fill-left-rev:hover, .hb-fill-on-rev:hover, .hb-fill-middle-rev:hover, .hb-fill-middle2-rev:hover {
  background: transparent;
  color: #fff;
  transition: color 0.3s ease, background 0s ease; }

.hb-fill-middle:after {
  position: absolute;
  content: '';
  background: #76c38f;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 1; }

.hb-fill-middle:hover:after {
  height: 50%; }

.hb-fill-middle-rev:after {
  position: absolute;
  content: '';
  background: #76c38f;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 50%;
  opacity: 1; }

.hb-fill-middle-rev:hover:after {
  height: 0; }

.hb-fill-middle2:after {
  position: absolute;
  content: '';
  background: #76c38f;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 0;
  height: 100%;
  opacity: 1; }

.hb-fill-middle2:hover:after {
  width: 50%; }

.hb-fill-middle2-rev:after {
  position: absolute;
  content: '';
  background: #76c38f;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 50%;
  height: 100%;
  opacity: 1; }

.hb-fill-middle2-rev:hover:after {
  width: 0; }
