//Border width
$btnborder: 2px;

//Border and fill color
$btncolor: #76c38f ;

//Button text color
$txtcolor: #fff;

//Alternative button text color for background transitions
$txtcolorfill: #fff;

//Button Padding
$paddingY: 10px;
$paddingX: 20px;